<form method="post" enctype="multipart/form-data" asp-controller="Magaza" asp-action="MagazaEkle">

    <div class="row" style="margin-bottom: 10px;">
        <div class="col-2">
            <label>Mağaza Adı : </label>
        </div>
        <div class="col-4">
            <input type="text" name="MagazaAd" class="form-control" placeholder="Mağaza Adı Giriniz..." maxlength="20" required>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-4">
            <div class=" form-group">
                <button type="submit" class=" btn btn-success">EKLE</button>
            </div>
        </div>
    </div>

</form>